<!-- ng new userApp
cd userApp
ng generate component register
ng generate component login
ng generate component profile
ng generate service auth
ng generate module app-routing --flat --module=app -->  commands to setup project
